<h1><%= t('books.edit.page_title') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('views.common.back', name: t('books.show.page_title')), @book %> |
  <%= link_to t('views.common.back', name: t('books.index.page_title')), books_path %>
</nav>
