<h1><%= t('books.new.page_title') %></h1>

<%= render "form", book: @book %>

<br>
<div>
  <%= button_to t("books.new.create_book") %>
</div>

<div>
  <%= link_to t('books.new.back'), books_path %>
</div>
